@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    background-color: rgb(36, 36, 36);
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 90%;
    margin: auto;
}

#alumnosListado{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
}

p{
    margin-top: 6px;
    color: rgb(36, 36, 36);
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
}

.tittle{
    font-size: xx-large;
}

input{
    background-color: whitesmoke;
    color: rgb(36, 36, 36);
    padding: 5px;
}

button{
    background-color: whitesmoke;
    color: crimson;
    font-weight: bold;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    color: whitesmoke;
    background-color: crimson;
}

select{
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
    
    font-weight: bold;
}
